<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/auth.css}"/>
    
</head>
<body>
<div id="id01"> <!-- class="modal"> -->

    <form action="/home" class="modal-content animate">
        <h1> LOGIN</h1>
        <div class="wrap-input100 " data-validate="Enter username">
            <input class="input100" type="text" name="username" placeholder="Username">
            <span class="focus-input100" >
            </span>
        </div>
        <div class="wrap-input100" data-validate="Enter password">
            <input class="input100" type="password" name="pass" placeholder="Password">
            <span class="focus-input100" data-placeholder=""></span>
        </div>

        <div class="container">
            <div class= " container-btn">
                <button class = "design">Login</button>
                <span class="psw"> <a href="/signup">Sign up</a></span>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>
</div>

</body>
</html>